.card {
  padding: 2.4rem;
  background: #ffffff;
  box-shadow: 0rem 0.2rem 1rem #eae2fd;
  border-radius: 0.8rem;

  line-height: 130%;
}

.card h3 {
  font-size: 1.4rem;
  color: #403937;
}

.card p {
  font-weight: 500;
  font-size: 1.4rem;

  color: #756966;

  margin-top: 1rem;
}

.card .tags {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  color: #7c3aed;
  font-weight: 500;
}

.card .tags span {
  font-size: 1.1rem;
  line-height: 130%;
  background: #e2d6ff;
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
