/* .inner {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
} */

section.titleAvatar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.1rem 2.4rem;
}

.titleAvatar > img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}

.inner h1 {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  font-size: 3.2rem;
  color: #a8cf45;
}

/* Filter bar */

section.filter {
  margin-top: 3.2rem;
  padding: 0 2.4rem;

  display: flex;
  gap: 1.2rem;
}

.filter button {
  padding: 1.2rem 3.2rem;
  border: 0;
  background: #a8cf45;
  border-radius: 0.5rem;
  color: #000;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.filter button span {
  text-shadow: 0rem 0.4rem 1.6rem rgba(22, 22, 22, 0.1);

  font-size: 1.4rem;
}

.filter button ion-icon {
  font-size: 2.4rem;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  background: #ffffff;
  border: 0.07rem solid #e3e3e3;
  box-shadow: 0rem 0.4rem 1.6rem rgba(22, 22, 22, 0.1);
  border-radius: 0.8rem;
  padding: 0 2.4rem;

  flex: 1;
}

.inputWrapper ion-icon {
  font-size: 2.4rem;
  color: #505059;
}

.inputWrapper input {
  border: 0;
  width: 100%;
  outline: 0;
}

.inputWrapper:has(:focus) {
  outline: 0.2rem black solid;
}

.inputWrapper input::placeholder {
  font-size: 1.6rem;
  color: #7c7c8a;
}
