.KanbanArea {
  display: flex;
  margin-top: 2.5rem;
  height: 100%;
  gap: 2rem;
}

.KanbanArea h1 {
  font-size: 1.8rem;
  color: #000000;
}

.Kanbantodo {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  padding: 0.8rem;
  background-color: #a6d4f5;
  border-radius: 0.8rem;
  margin: 0 0.5rem;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #a6d4f5;
}

.KanbanDoing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 60vh;
  width: 100%;
  padding: 0.8rem;
  background-color: #e3dcfb;
  border-radius: 0.8rem;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #e3dcfb;
}
.KanbanDone {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  padding: 0.8rem;
  background-color: #bfecdf;
  border-radius: 0.8rem;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #bfecdf;
}

.HeaderKanban {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.HeaderKanban button {
  gap: 0.5rem;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
